@import "tailwindcss";

@theme {
    --font-sans: "Roboto", sans-serif;
    --color-accent: #DA548B;
}

@layer utilities {
    .bg-linear-160 {
        --tw-gradient-position: 160deg in oklab;
    }

    .bg-linear-145 {
        --tw-gradient-position: 145deg in oklab;
    }
}
